<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
        <providers>
          <add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap"/>
          <add name="Web2SiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web2(UseForTree).sitemap"/>
        </providers>
      </siteMap>
    </system.web>
  <connectionStrings>
    <add name="strcon" connectionString="Data source=DESKTOP-M33MRUV\SQLEXPRESS;Initial Catalog=uploadfashion;User ID=sa;Password=123"/>
  </connectionStrings>
    <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
</configuration>
